/* logo用的Century Gothic字体 */
/* 全局样式 */
* {
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: $color-text-main;
}
body,
p,
div,
span {
  letter-spacing: 0.7px;
}
/* 滚动条 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: $color-text-secondary;
}
/* menu */
.menu-outer {
  font-family: CH, Gothic;
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu-inner {
  width: $layout-max-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
  transition: all 0.3s;
}
.menu-site-name {
  font-family: CH, Gothic;
  font-size: 1.6em;
}
.menu-ul {
  list-style: none;
}
.menu-li {
  float: left;
  margin-right: 30px;
  font-size: 0.9em;
  color: $color-text-secondary;
  position: relative;
  transition: all 0.3s;
}
.menu-li:hover {
  color: $color-text-main;
}
.active-link li {
  position: relative;
  color: $color-text-main;
}
.active-link li:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: -0.2em;
  transition: all 0.3s;
  background-color: $color-theme-main;
}
.active-link li:hover:after {
  right: 50%;
}
/* sort */
#sort {
  cursor: pointer;
  z-index: 99999;
}
#sort .categories-outer {
  display: none;
  z-index: 99999;
  background: #fff;
  border-radius: 3px;
  min-width: 100px;
  border: 1px solid $color-theme-main;
  position: absolute;
  left: -30px;
  top: 30px;
}
#sort .categories-outer ul {
  list-style: none;
  text-align: center;
}
#sort .categories-outer ul li {
  line-height: 2.8;
}
#sort .categories-outer ul li a {
  color: $color-text-secondary;
}
#sort .categories-outer ul li a:hover {
  color: $color-text-main;
}
/* body */
.body-outer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.body-inner {
  width: $layout-max-width;
  background-color: #fff;
}
/* home */
.intro-content {
  margin-top: 150px;
  width: 80%;
}
.intro-title {
  font-family: CH, Gothic;
  font-size: 4.5em;
  font-weight: 1000;
  margin: 0;
  padding: 0;
}
.intro-sub {
  font-family: CH, Gothic;
  margin-top: 30px;
  font-size: 1.2em;
  line-height: 1.8em;
  margin-left: 5px;
}
.intro-sub a {
  display: inline-block;
  font-family: CH, Gothic;
  position: relative;
}
.intro-sub a:after {
  content: "";
  position: absolute;
  top: 93%;
  left: 0;
  right: 0;
  bottom: -0.04em;
  transition: all 0.3s;
  background-color: $color-theme-main;
}
.intro-sub a:hover:after {
  right: 50%;
}
/* intro-sub中超链接的样式 */
.intro-contact {
  margin-top: 10px;
  font-size: 1.5em;
  line-height: 1.8em;
  margin-left: 5px;
}
.intro-content,
a {
  color: #2e2e2e;
  text-decoration: none;
  margin-right: 3px;
}
/* archive */
.archive-outer {
  display: flex;
  justify-content: center;
}
.archive-inner {
  margin-top: 30px;
  width: 80%;
  margin-bottom: 100px;
}
.archive-name {
  line-height: 2.1em;
  font-size: 1.7em;
  letter-spacing: 0.2em;
  font-family: CH, Gothic;
  color: $color-text-secondary;
  font-weight: bold;
  margin: 40px 0px 30px 0px;
  text-align: center;
}
.archive-post {
  line-height: 1.5em;
  font-size: 1.2em;
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
  transition: 0.3s;
  display: flex;
}
.archive-post:hover .archive-post-title {
  color: $color-theme-main;
}
.archive-post-title {
  font-size: 1.12em;
  transition: 0.4s;
  font-family: CH, Gothic;
  margin-right: auto;
}
.archive-post-date {
  font-family: CH, Gothic;
  color: $color-theme-main;
  font-weight: 1000;
  background-color: $color-theme-secondary;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  border-radius: 5px;
  padding: 0px 10px;
  transition: all 0.4s;
}
/* archive-paginator */
.paginator {
  display: none;
}
@media $desktop-m {
  .paginator {
    display: block;
    margin: 50px 0px;
    text-align: center;
  }
  .paginator .page-number {
    display: none;
  }
  .paginator .space {
    display: none;
  }
  .paginator .extend {
    margin: 0 10px;
    background-color: $color-theme-secondary;
    color: $color-theme-main;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 1000;
    font-family: CH, Gothic;
    transition: all 0.4s;
  }
  .paginator .extend:hover {
    color: #fff;
    background-color: $color-theme-main;
  }
}
.paginator_diy {
  margin: 50px 0px;
  text-align-last: justify;
}
.paginator_diy .post-archive-next {
  text-align: right;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: $fff;
  font-family: CH, Gothic;
  letter-spacing: 0.1em;
}
.paginator_diy .post-archive-next .post-archive-next-text {
  color: $color-text-secondary;
}
.paginator_diy .post-archive-next .post-archive-next-text:hover {
  color: $color-theme-main;
}
.paginator_diy .post-archive-prev {
  text-align: left;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: $fff;
  font-family: CH, Gothic;
  letter-spacing: 0.1em;
}
.paginator_diy .post-archive-prev .post-archive-prev-text {
  color: $color-text-secondary;
}
.paginator_diy .post-archive-prev .post-archive-prev-text:hover {
  color: $color-theme-main;
}
.paginator_diy .page2page {
  text-align: center;
  display: inline-block;
}
.paginator_diy .page2page .page-number {
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.125em;
  font-family: CH, Gothic;
  font-weight: 1000;
  color: $color-text-secondary;
  background-color: $fff;
  transition: all 0.2s;
}
.paginator_diy .page2page .page-number:hover {
  color: $color-theme-main;
}
.paginator_diy .page2page .space {
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.125em;
  font-weight: 1000;
  font-family: CH, Gothic;
  background-color: $fff;
  color: $color-text-secondary;
}
.paginator_diy .page2page .current {
  color: $color-theme-main;
}
.paginator_diy .page2page .extend {
  display: none;
}
@media $desktop-m {
  .paginator_diy {
    display: none;
  }
}
/* footer */
.footer-outer {
  display: flex;
  justify-content: center;
  font-family: CH, Gothic;
}
.footer-inner {
  padding: 40px 0px;
  width: $layout-max-width;
  display: flex;
  justify-content: space-between;
}
.footer-text {
  color: $color-text-secondary;
  font-size: 1em;
}
.footer-text a {
  color: $color-text-secondary;
  font-size: 1em;
  transition: all 0.3s;
}
.footer-text a:hover {
  color: $color-theme-main;
}
.footer-contact {
  font-size: 1.2em;
}
.footer-ul {
  list-style: none;
}
.footer-li {
  float: left;
  margin-right: 10px;
  transition: all 0.3s;
}
.footer-li i {
  color: $color-text-secondary;
  font-size: 1.2em;
  transition: all 0.3s;
  padding: 5px;
  border-radius: 100%;
}
.footer-li:hover i {
  color: $color-theme-main;
}
/* gitalk-saysay优化 */
.gitalk-saysay > #gitalk-container .gt-counts {
  display: none;
}
